body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: left;
}
  
header h1 {
  margin: 0;
  padding: 10px 0;
}
  
nav {
  background-color: #000;
  overflow: hidden;
}
  
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
  
nav ul li {
  display: inline-block;
}
  
nav ul li a {
  color: white;
  display: block;
  padding: 14px 20px;
  text-decoration: none;
}
  
nav ul li a:hover {
  background-color: #575757;
}
  
main {
  display: flex;
}
  
.main-content {
  flex: 8;
  height: 50rem;
  background-color: gray;
}
  
aside {
  flex: 1;
  padding-left: 500px;
}
  
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}